In [1]:
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in /opt/miniconda3/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
df = pd.read_csv('child-mortality.csv') 
df

            Entity Code  Year  Child mortality rate
0      Afghanistan  AFG  1957                 37.13
1      Afghanistan  AFG  1958                 36.52
2      Afghanistan  AFG  1959                 35.95
3      Afghanistan  AFG  1960                 35.32
4      Afghanistan  AFG  1961                 34.76
...            ...  ...   ...                   ...
16830     Zimbabwe  ZWE  2019                  5.11
16831     Zimbabwe  ZWE  2020                  5.01
16832     Zimbabwe  ZWE  2021                  4.76
16833     Zimbabwe  ZWE  2022                  4.60
16834     Zimbabwe  ZWE  2023                  4.42

[16835 rows x 4 columns]